@using WebShop_Domain.Models;

@model List<Categories>

<a class="btn btn-secondary" asp-controller="Category" asp-action="Create">Нова Категорија</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Ид</th>
            <th scope="col">Име на Категорија</th>
            <th scope="col">Опис</th>
            <th scope="col">Цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.CategoryName</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>
</table>
